<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MethodTestInParallel.OpenAmazonHomePage()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">OpenAmazonHomePage</td> 
  <td>pool-1-thread-1@1035886991</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:21</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MethodTestInParallel.OpenFaceBookHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">OpenFaceBookHomePageTest</td> 
  <td>pool-1-thread-2@474587371</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:21</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MethodTestInParallel.OpenGoogleHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">OpenGoogleHomePageTest</td> 
  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:27</td>   <td>6417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MethodTestInParallel.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:58</td>   <td>37131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MethodTestInParallel.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:34:17</td>   <td>55647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MethodTestInParallel.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:13</td>   <td>-8276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MethodTestInParallel.beforeMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:13</td>   <td>-8276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MethodTestInParallel.beforeMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/09/29 18:33:13</td>   <td>-8276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MethodTestInParallel.beforeMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@d8355a8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@296729765</td>   <td></td> </tr>
</table>
