<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:30:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MethodTestInParallel.OpenAmazonHomePage()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">OpenAmazonHomePage</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:31:17</td>   <td>74159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MethodTestInParallel.OpenFaceBookHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">OpenFaceBookHomePageTest</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:31:45</td>   <td>101869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MethodTestInParallel.OpenGoogleHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">OpenGoogleHomePageTest</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:31:09</td>   <td>66182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MethodTestInParallel.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:31:40</td>   <td>96985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MethodTestInParallel.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:36:45</td>   <td>401980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MethodTestInParallel.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:29:57</td>   <td>-6107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MethodTestInParallel.beforeMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:31:11</td>   <td>68528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MethodTestInParallel.beforeMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/09/29 18:31:40</td>   <td>97282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MethodTestInParallel.beforeMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MethodTestInParallel@4501b7af]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
</table>
