<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@e25b2fe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@530686602</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@13deb50e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2037547828</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:32</td>   <td>5778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenAmazonHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@13deb50e]">OpenAmazonHomePageTest</td> 
  <td>TestNG@2037547828</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:36</td>   <td>9367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenAmazonHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">OpenAmazonHomePageTest</td> 
  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:47</td>   <td>20651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenAmazonHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@e25b2fe]">OpenAmazonHomePageTest</td> 
  <td>TestNG@530686602</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:47</td>   <td>20679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenFaceBookHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@e25b2fe]">OpenFaceBookHomePageTest</td> 
  <td>TestNG@530686602</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:28:47</td>   <td>20710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenGoogleHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@e25b2fe]">OpenGoogleHomePageTest</td> 
  <td>TestNG@530686602</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:29:54</td>   <td>86974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@13deb50e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2037547828</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:29:54</td>   <td>87351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@13deb50e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2037547828</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:29:59</td>   <td>92759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenFaceBookHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@13deb50e]">OpenFaceBookHomePageTest</td> 
  <td>TestNG@2037547828</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:29:59</td>   <td>92770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenGoogleHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@13deb50e]">OpenGoogleHomePageTest</td> 
  <td>TestNG@2037547828</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:31:25</td>   <td>178715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:31:26</td>   <td>179419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:31:33</td>   <td>186012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenFaceBookHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">OpenFaceBookHomePageTest</td> 
  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:31:52</td>   <td>205510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:31:53</td>   <td>206164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:31:59</td>   <td>212761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.OpenGoogleHomePageTest()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">OpenGoogleHomePageTest</td> 
  <td>TestNG@906124084</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/09/29 18:32:12</td>   <td>225734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterMethod()[pri:0, instance:com.selenium.core.SampleTestNG.MultiBrowser@29774679]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@906124084</td>   <td></td> </tr>
</table>
